extends includes/layout.pug

block content
  if page.type === 'tags'
    .tag-cloud
      .tag-cloud__title= _p('page.tag')
        |  - 
        span.tag-cloud__amount= site.tags.length
      .tag-cloud-tags
        include includes/page_tag.pug
      if page.comments !== false
        include includes/comments/index.pug
    #aside_content.aside_content
      include includes/widget/index.pug
  else if page.type === 'link'
    include flink.pug
      if page.comments !== false
        include includes/comments/index.pug
    #aside_content.aside_content
      include includes/widget/index.pug
  else if page.type === 'categories'    
    #post-content.category-content
      .category-lists
        .category__title= _p('page.category')
          |  - 
          span.category__amount= site.categories.length
        div!= list_categories()
      if page.comments !== false
        include includes/comments/index.pug
    #aside_content.aside_content
      include includes/widget/index.pug
  else if page.type === 'about'
    #post-content.category-content
      include ./about.ejs
      if page.comments !== false
        include includes/comments/index.pug
    #aside_content.aside_content
      include includes/widget/index.pug
  else if page.type === 'newsletter'

    include ./includes/mixins/article-sort.pug
    #archive
      h2= "從2022年7月開始，我決定為自己制定個小目標，每個禮拜都要更新一次週報。每周日更新，聊聊我最近關注的事情、有趣的訊息、還有值得分享的東西。"
      .article-sort-title= _p('page.articles') + ' - ' + site.posts.length
      +newsletterSort(site.posts)
      include includes/pagination.pug

    #aside_content.aside_content
      include includes/widget/index.pug
  else
    article#page
      h1= page.title
      .article-container!= page.content
      include includes/pagination.pug
      if page.comments !== false
        include includes/comments/index.pug
    #aside_content.aside_content
      include includes/widget/index.pug
